{% extends "home/base.html" %}
{% load staticfiles %}
{% block title %}Título dentro{% endblock %}
{% block content %}
 <div class="starter-template">
    
        <h1>Tamila Fuentes Cortés</h1>
        <p>
            <img src="{% static 'images/camila.jpg' %}" style="width: 489px; height: 433px;" />
        </p>
        <p class="lesad">Hoy el destino ha decidido llevarse al cielo a la mas linda, ahora su bella sonrisa pasa a ser patrimonio de los ángeles del olimpo.
No tengo palabras para expresar la tristeza que siento, y a pesar de que desde un tiempo a esta parte decidí no publicar nada de mi vida personal en las redes sociales, creo que en esta ocasión es necesario hacer una excepción, ya que muchos alumnos de todo el mundo han estado preguntándome permanentemente por la salud de Camila. Lamentablemente ella ha fallecido. </p>
         <p>Tengo el corazón ahogado, el pecho comprimido, las lágrimas se me caen solas mientras intento escribir estas palabras, tengo frío, me siento débil, me tiemblan las piernas, no sé bien cómo reaccionar, no sé bien qué hacer ni qué decir. No soy muy creyente de las religiones, pero creo que apoyarme y dejar todo en manos de Dios no es una mala idea.
</p>
<p>Estaba preparando todo en estos días para retomar las clases en vivo y los videotutoriales de mi blog, sin embargo con ésto, creo que eso tendrá que esperar.
</p>
<p>Yo hace bastante tiempo que decidí alejarme de mi familia, por distintas razones que no va al caso ahora mencionar, menos por este medio, pero para mí, la mas linda era mi único nexo familiar, era una lucecita que con su inocente sonrisa iluminaba mi alma. 
</p>
<p>Cuando murió mi viejita linda, uno de mis alumnos me dijo una frase que ahora me hace mucho sentido. La mas linda no se ha ido al cielo, si que desde hoy, se ha ido con todas sus maletas a vivir en mi corazón.
</p>
<p>Tengo mucha pena. Yo pensaba que estaba preparado mentalmente para este momento, pero ahora sólo puedo decir que mi alma está sumergida en una profunda tristeza que será imposible de superar, más allá de que logre continuar trabajando e intentando cumplir mis metas.
</p>
<p>Te amo niñita!!! </p>
      </div>
{% endblock %}


