{% extends "home/base.html" %}
{% load staticfiles %}
{% block title %}Productos{% endblock %}
{% block content %}
<div class="starter-template"><h1>Nuestros productos</h1><div class="row">
	{% for producto in productos %}
	<!--ítem-->
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<img src="{{producto.url}}" alt="{{producto.titulo}}" />
				<div class="caption">
						<h3>{{producto.titulo}}</h3>
						<p>{{producto.epigrafe}}</p>
						<p>
							<a class="btn btn-primary" role="button" title="{{producto.titulo}}" href="/productos/{{producto.slug}}">Ver más</a>
						</p>
				</div>
		</div>
	</div>
	<!--ítem-->
	{% endfor %}
{% endblock %}


